.footer {
    background-color: $color-terciario;
}

.footerTitulo {
  font-family: Sixtyfour Convergence, serif;
}

.footerSeccion {
  font-family: Silkscreen, serif;
}

.imgRS {
  width: 40px;
  height: 40px;
  transition: all 0.2s ease-in-out;

  &:hover{transform: scale(1.1);}
}

.redesSociales a {
  text-decoration: none;
}
  
