.footer {
    background-color: $color-terciario;
}

.footerTitulo {
  font-family: Sixtyfour Convergence, serif;
}

.footerSeccion {
  font-family: Silkscreen, serif;
}

.imgRS {
  width: 40px;
  height: 40px;
}

.redesSociales a {
  text-decoration: none;
}
  
